certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
Django==2.0.2
django-imagekit==4.0.2
django-widget-tweaks==1.4.1
idna==2.6
Markdown==2.6.11
mistune==0.8.3
pilkit==2.0
Pillow==5.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyGithub==1.36
Pygments==2.2.0
PyJWT==1.5.3
python-decouple==3.1
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
