pre {
    margin: 30px 0 50px 0;
}

code {
    margin: 30px 0 50px 0;
}

.blog-post--content {
    padding: 10px;
}

.blog-post--content li {
    line-height: 2em;
}

.blog-post--date, .blog-post--category {
    color: #6c757d!important;
}